---
layout: default
title: Effect of contacts on spin lifetime measurements in graphene
author: Evan Sosenko
short_url: goo.gl/rc8q83
src_url: https://github.com/razor-x/deck-spin-lifetime
ucr_url: http://www.physics.ucr.edu/
coauthors: [ Vivek Aji ]
---

{% capture spin_device %}
<img class="half-width" src="{% asset_path device.svg %}" alt="Spin injection device" />
{% endcapture %}

<style>h2::after{content:"{{ page.short_url }}"};</style>

{% slide header %}
  {% if site.firebase %}
    <div style="text-align:center">
      <button id="auth-login" style="display:none">login</button>
      <button id="auth-logout" style="display:none">logout</button>
    </div>
  {% endif %}

  <h1>{{ page.title }}</h1>

  <a class="center" href="http://meetings.aps.org/Meeting/MAR14/Event/209736">Contributed Talk, APS March Meeting March 2014, Denver, CO, US.</a>

  <ul class="authors">
    <li class="author"><a href="http://{{ site.data.meta.site_name }}">{{ page.author }}</a></li>
  <li class"connector">with</li>
  {% for coauthor in page.coauthors %}
    <li class="author coauthor">{{ coauthor }}</li>
  {% endfor %}
  </ul>
  <div class="url">
    <div class="qrcode"></div>
    <a class="short_url" href="https://{{ page.short_url }}">{{ page.short_url }}</a>
  </div>
  <a class="ucr_logo" href="{{ page.ucr_url }}"></a>
{% endslide %}

{% capture outline_content %}
<h2>Outline</h2>
<ol class="full">
  <li>Overview of spin injection experiment and nonlocal resistance</li>
  <li>Analytic solution including effect of contacts</li>
  <li>Fitting the solution to real data</li>
  <li>Limitations of fitting regimes</li>
</ol>
{% endcapture %}

{% slide %}
  {{ outline_content }}
  {{ spin_device }}
{% endslide %}

{% slide %}
  {{ outline_content }}
  <h3>Familiar integral expression that ignores contact effects</h3>
  <p class="equation">$$R_{\text{NL}} ∝ \int_0^∞ \frac{1}{\sqrt{4 π D t}} \exp{\left[ - \frac{L^2}{4 π D t} \right]} e^{-t / τ} \cos{ω t} \: dt$$</p>
{% endslide %}

{% slide#geometry %}
  <h2>Device geometry</h2>
  <div class="inner">
    {{ spin_device }}
    <p class="equation large">$$D ∇^2 μ_s - \frac{μ_s}{τ} + ω × μ_s = 0$$</p>
    <p class="equation large">$$V ∝ μ_s^N(x = L)$$</p>

    <ul class="equation left top">
      <li>\( L \) : contact spacing</li>
      <li>\( D \) : diffusion constant</li>
      <li>\( τ \) : spin lifetime</li>
      <li>\( λ = \sqrt{D τ} \)</li>
      <li>\( ω = g μ_B B / ħ \)</li>
    </ul>

    <ul class="equation right top">
      <li>\( μ_s = \frac{1}{2} \left( μ_↑ - μ_↓ \right) \)</li>
      <li>\( J_{↑↓} = σ_{↑↓} ∇μ_{↑↓} \)</li>
      <li>\( J_{↑↓}^C = Σ_{↑↓} \left( μ^N_{↑↓} - μ^F_{↑↓} \right)_c \)</li>
      <li>\( J = J_↑ + J_↓ \)</li>
      <li>\( J_s = J_↑ - J_↓ \)</li>
    </ul>
  </div>

  <p>{% reference ActaPhysicaSlovaca.57.4_5.565-907 %}</p>
  <p>{% reference PhysRevB.37.5312 %} {% reference PhysRevB.67.052409 %}</p>
  <p>{% reference PhysRevB.80.214427 %}</p>

  {% include note.html id="geometry" %}
{% endslide %}

{% slide#nonlocal_resistance %}
  <h2>Nonlocal resistance</h2>

  <div class="inner">
    <p class="equation">\( R_{\text{NL}}^± = ± V / I = ± P^2 R_N f \)</p>
    <p class="equation right top">\( R_N = \frac{λ}{W} \frac{1}{σ_G} = \frac{λ}{L W} \frac{1}{σ^N} \)</p>

    {% slide div.center %}
      <h3>Solution</h3>
      <p class="equation">$$f = \operatorname{Re}{ \left\{ \left[ 2 \left( \sqrt{1 + i ω τ} + λ / r \right) e^{\left( L / λ \right) \sqrt{1 + i ω τ}} \\ + \frac{\left( λ / r \right)^2}{\sqrt{1 + i ω τ}} \sinh{\left( L / λ \right) \sqrt{1 + i ω τ}} \right]^{-1} \right\} }$$</p>
    {% endslide %}

    {% slide div.center %}
      <h3>Only scales that appear in \( f \)</h3>
      <ul class="equation inline">
        <li>\( L / λ \)</li>
        <li>\( λ / r \)</li>
        <li>\( ω τ \)</li>
      </ul>
    {% endslide %}
  </div>
  {% include note.html id="nonlocal_resistance" %}
{% endslide %}

{% slide.fits %}
  <h2>Tunneling contacts</h2>
  <div class="inner">
    <div class="inner plot half-width">
      <img class="half-width" src="{% asset_path plots/fig_4b_parallel.svg %}"
        alt="Fit finite contact resistance case to parallel field data from Fig. 4b of PhysRevLett.105.167202." />
      <img class="top right inset plot" src="{% asset_path plots/fig_4b_transparent_contacts_parallel.svg %}" alt="Fit infinite contact resistance case to parallel field data from Fig. 4b of PhysRevLett.105.167202." />
    </div>
    <div class="center">
      <h3>Finite contact resistance</h3>
      <ul class="equation">
        <li>\( R_C = 5 × 10^5 \; \text{kΩ} \)</li>
        <li>\( τ = 427 \; \text{ps} \)</li>
        <li>\( D = 0.014 \; \text{m}^2 / \text{s} \)</li>
        <li>\( λ = 2.5 \; \text{μm} \)</li>
      </ul>

      <h3>Infinite contact resistance (inset)</h3>
      <ul class="equation">
        <li>\( τ = 427 \; \text{ps} \)</li>
        <li>\( D = 0.014 \; \text{m}^2 / \text{s} \)</li>
      </ul>
    </div>
  </div>
  <p class="reference">{% reference PhysRevLett.105.167202 %}</p>
  {% include note.html id="fits" %}
{% endslide %}

{% slide.fits %}
  <h2>Transparent contacts</h2>
  <div class="inner">
    <div class="inner plot half-width">
      <img class="half-width" src="{% asset_path plots/fig_4d_difference.svg %}"
        alt="Fit finite contact resistance case to difference (|P - AP|) field data from Fig. 4d of PhysRevLett.105.167202" />
      <img class="top right inset plot" src="{% asset_path plots/fig_4d_transparent_contacts_difference.svg %}"
        alt="Fit infinite contact resistance case to difference (|P - AP|) field data from Fig. 4d of PhysRevLett.105.167202" />
    </div>
    <div class="center">
      <h3>Finite contact resistance</h3>
      <ul class="equation">
        <li>\( R_C = 3 \; \text{kΩ} \)</li>
        <li>\( τ = 130 \; \text{ps} \)</li>
        <li>\( D = 0.021 \; \text{m}^2 / \text{s} \)</li>
        <li>\( λ = 1.66 \; \text{μm} \)</li>
      </ul>

      <h3>Infinite contact resistance (inset)</h3>
      <ul class="equation">
        <li>\( τ = 78 \; \text{ps} \)</li>
        <li>\( D = 0.01 \; \text{m}^2 / \text{s} \)</li>
        <li>\( λ = 1.4 \; \text{μm} \)</li>
      </ul>
    </div>
  </div>
  <p class="reference">{% reference PhysRevLett.105.167202 %}</p>
  {% include note.html id="fits" %}
{% endslide %}

{% slide.fits %}
  <h2>Transparent contacts</h2>
  <div class="inner">
    <img class="inner plot half-width" src="{% asset_path plots/fig_4d_normalized_difference.svg %}"
      alt="Fit finite contact resistance case to normalized difference (|P - AP|) field data from Fig. 4d of PhysRevLett.105.167202" />
    <div class="center">
      <h3>Finite contact resistance</h3>
      <ul class="equation">
        <li>\( R_C = 0.3 \; \text{kΩ} \)</li>
        <li>\( τ = 800 × 10^4 \; \text{ps} \)</li>
        <li>\( D = 0.015 \; \text{m}^2 / \text{s} \)</li>
        <li>\( λ = 350 \; \text{μm} \)</li>
      </ul>
    </div>
  </div>
  <p class="reference">{% reference PhysRevLett.105.167202 %}</p>
  {% include note.html id="fits" %}
{% endslide %}

{% slide#limits %}
  <h2>Limits</h2>
  <div class="inner center">
    <img class="plot half-width" src="{% asset_path plots/PhysRevB.86.235408.fig.3.svg %}" alt="Fig. 3 from PhysRevB.86.235408" />
    <p>{% reference PhysRevB.86.235408 %}</p>

    <div class="top left">
      <ul class="equation">
        <li>\( ω τ ≫ 1 \)</li>
        <li>\( λ / r &lt;1 \)</li>
        <li>Zeros set by \( D \) only.</li>
        <li>Normalized case scales as \( f / f_0 ∝ \frac{(λ / r)^2}{\sqrt{ω τ}} \).</li>
        <li>Can fit to increased \( τ \) with moderate increase in \( r \).</li>
      </ul>
    </div>

    <div class="top right">
      <ul class="equation">
        <li>\( r → ∞ \) or λ / r ≫ 1</li>
        <li>\( r \) terms are negligible.</li>
        <li>Scale and zeros set by \( τ \) and \( D \).</li>
      </ul>
    </div>
  </div>

  {% include note.html id="limits" %}
{% endslide %}

{% slide footer %}
  <h2>Conclusion</h2>

  <ol class="full">
    <li>Solve system with finite contact resistance</li>
    <li>Analytic expression for \( R_{\text{NL}} \)</li>
    <li>Fit to real Hanle curve data and obtain reasonable results</li>
    <li>The \( r \) parameter introduces other parameter regimes and scaling freedom which can also give good fits</li>
    <li>Able to explain these regimes as limits of the analytic expression</li>
  </ol>

  <div class="footer">
    <a class="ucr_logo" href="{{ page.ucr_url }}"></a>
    <ul class="colophon">
      <li><a href="http://{{ site.data.meta.site_name }}">{{ site.data.meta.site_name }}</a></li>
      <li><a class="src_url" href="{{ page.src_url }}">Source available on GitHub.</a></li>
    </ul>
    <div class="web-colophon">
      <a class="html5-badge" href="http://www.w3.org/html/logo/" title="HTML5 Powered with CSS3 / Styling, and Semantics"></a>
      {{ social_buttons | strip_newlines }}
    </div>
  </div>

  {% if site.social %}
    {% capture social_buttons %}{% include social-buttons.html %}{% endcapture %}
    {{ social_buttons | strip_newlines }}
  {% endif %}
{% endslide %}

<div class="deck-status"><div class="deck-status-current"></div></div>
