//
// Variables
//

$background-color: $holo-color-light

$title-slide-side-margin: 50px
$title-slide-bottom-margin: 5px
$title-slide-bottom-margin-large: 30px

$qrcode-size: 250px
$qrcode-container-size: $qrcode-size - 20px

//
// Media Queries
//

$small: 'only screen and (min-width: 30em)'
$large: 'only screen and (min-width: 74.063em)'

//
// Mixins
//

=rescale-background($scale, $width, $height)
  height: $scale * $height
  width: $scale * $width
  background-size: $scale * $width $scale * $height

=ucr_logo($height)
  $logo: 'ucr_logo_cmyk.svg'
  $width: 5.2 * $height
  display: block
  height: $height
  width: 100%
  background-image: image-url($logo)
  background-size: $width $height
  background-position: center
  background-repeat: no-repeat

  @media #{$large}
    right: $title-slide-side-margin
    +rescale-background(2, $width, $height)

//
// Slide Styles
//

body
  background-color: $background-color

article.deck-container
  font-family: $font-family-base
  background-color: $background-color

  h1, h2, h3, h4, h5, h6
    font-family: $font-roboto
    font-weight: 300

  h1
    top: 30%
    font-size: 2em
    color: $holo-color-dark

    @media #{$large}
      font-size: 5em

  h2
    position: relative
    padding-left: 5px
    color: darken($holo-color-green, 10%)

    &::after
      display: none
      @media #{$large}
        display: inline
        position: absolute
        bottom: 0
        right: $title-slide-side-margin
        font-size: 3rem

  ul.authors
    position: absolute
    top: 50%
    width: 100%
    margin: 0
    text-align: center
    list-style-type: none

    li
      padding: 0

    a
      color: $holo-color-green
      &:hover
        color: $holo-color-red

    .author
      font-size: 3em
      font-weight: bold

    .connector
      font-size: 0.8em

    .coauthor
      font-size: 2.5em
      font-weight: 300

  .qrcode
    display: none

    @media #{$large}
      display: block
      position: absolute
      bottom: $title-slide-bottom-margin-large
      left: $title-slide-side-margin
      width: $qrcode-container-size
      height: $qrcode-container-size
      +retina-image('rc8q83.qr', $qrcode-size $qrcode-size, $asset-pipeline: true)
      background-size: $qrcode-size $qrcode-size
      background-position: center
      background-repeat: no-repeat
      border-radius: em(10)
      box-shadow: 0 0 5px $holo-color-blue

  .short_url
    display: none

    @media #{$large}
      display: inline-block
      position: absolute
      bottom: $title-slide-bottom-margin-large
      left: $title-slide-side-margin + $qrcode-container-size + 20px
      font-size: 3em

  header.slide .ucr_logo
    +ucr_logo(50px)
    position: absolute
    bottom: $title-slide-bottom-margin
    width: 100%
    @media #{$large}
      bottom: $title-slide-bottom-margin-large

  footer.slide div.footer
    position: absolute
    bottom: $title-slide-bottom-margin
    width: 100%
    text-align: center

    @media #{$large}
      bottom: $title-slide-bottom-margin-large


  footer.slide .ucr_logo
    +ucr_logo(25px)
    margin-bottom: 5px
    @media #{$large}
      position: absolute
      bottom: 0

  .colophon
    @media #{$large}
      position: absolute
      bottom: 0
      width: 100%
      font-size: 1.7em

    a
      display: block

    .src_url
      font-size: 0.8rem

  .web-colophon
    @media #{$large}
      position: absolute
      bottom: 0
      left: $title-slide-side-margin

  .html5-badge
    $width: 83px
    $height: 32px
    display: block
    width: $width
    height: $height
    margin: 10px auto
    text-align: center
    +retina-image('html5-badge-h-css3-semantics', $width $height, $asset-pipeline: true)
    background-size: $width $height
    background-position: center
    background-repeat: no-repeat

    @media #{$small}
      display: inline-block
      margin: 0
      margin-bottom: -6px

  .social-buttons
    display: block

    @media #{$small}
      display: inline-block

#deck-loading_screen h1
  font-family: "Helvetica", Arial, sans-serif
  font-weight: 300

  > div.spinner
    font-size: 0.2em

    @media #{$large}
      margin-right: em(30)
